.box_board {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.box_board .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://sv1.picz.in.th/images/2021/10/27/ubzQJn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(5, 172, 227, 0.1);
          box-shadow: 0px 0px 8px 5px rgba(5, 172, 227, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.box_board .board .board-title {
  font-size: 30px;
  font-weight: bold;
}

.box_board .board .board-status {
  font-size: 15px;
  font-weight: bold;
}

.box_board .board .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box_board .board .button-box .box {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(92, 69, 155, 0.1);
          box-shadow: 0px 0px 8px 5px rgba(92, 69, 155, 0.1);
  padding: 20px;
  max-width: 200px;
  min-width: 160px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box_board .board .button-box .box .form-input {
  border-radius: 20px;
  padding: 6px 20px 6px 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #05ace3;
  outline: #05ace3;
  width: 100%;
}

.box_board .board .button-box .box .form-input:hover {
  border-radius: 20px;
  padding: 6px 20px 6px 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #5c459b;
  width: 100%;
}

.box_board .board .button-box .box .form-input:focus {
  border-radius: 20px;
  padding: 6px 20px 6px 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #5c459b;
  width: 100%;
  outline: #5c459b;
}

.box_board .board .button-box .box .box-title {
  text-align: center;
}

.box_board .board .button-box .box .box-title .button-title {
  font-size: 20px;
  font-weight: bold;
}

.box_board .board .button-box .box .btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.box_board .board .button-box .box #set {
  width: 100%;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(92, 69, 155, 0);
  color: #5c459b;
  border-color: #5c459b;
}

.box_board .board .button-box .box #set:hover {
  color: white;
  background-color: #5c459b;
}

.box_board .board .board-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box_board .board .board-box div {
  margin: 10px;
}

.box_board .board .board-box div .progress-box {
  max-width: 150px;
  min-width: 50px;
}

.box_board .board .board-box div .title {
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-device-width: 375px) {
  .box_board .board {
    padding: 20px;
  }
}
/*# sourceMappingURL=board.css.map */