.box_board {
  display: flex;
  // margin: 10px;
  justify-content: center;
  padding: 10px;
  // border: 1px black solid;
  width: 100%;

  .select {
    border-color: #5c459b;
    text-align: center;
    // font-size: 20px;
    // font-weight: bold;
    width: 100%;
    color: white;
    border-radius: 10px;
    outline-color: #5c459b;

    .option {
      // font-size: 18px;
      border-color: #5c459b;
      color: white;
      font-weight: bold;
    }
  }

  .board {
    // color: white;
    // display: flex;
    // justify-content: center;
    // background-color: #26c9ff;
    width: 100%;
    // border: 1px black solid;

    // background-image: linear-gradient(
    //   to bottom,
    //   #ffff,
    //   #97d8ec,
    //   #8fe3ff,
    //   #59d6ff
    // );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    padding: 20px;
    .board-header {
      background-color: #63c8e7;
      color: white;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);

      .board-title {
        font-size: 25px;
        font-weight: bold;
      }
      .board-status {
        font-size: 15px;
        font-weight: bold;
        .online {
          color: #00c80a;
        }
        .offline {
          color: #ff5148;
        }
      }

      .time {
        color: royalblue;
      }
    }

    .button-box {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;

      .box {
        margin: 10px;
        background-color: #63c8e7;
        color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);

        padding: 20px;
        // max-width: 200px;
        min-width: 180px;

        flex: 1;

        .form-input {
          border-radius: 20px;
          padding: 6px 20px 6px 20px;
          background-color: rgba(0, 0, 0, 0);
          border-color: #05ace3;
          outline: #05ace3;
          width: 100%;
        }
        .form-input:hover {
          border-radius: 20px;
          padding: 6px 20px 6px 20px;
          background-color: rgba(0, 0, 0, 0);
          border-color: #5c459b;
          width: 100%;
        }
        .form-input:focus {
          border-radius: 20px;
          padding: 6px 20px 6px 20px;
          background-color: rgba(0, 0, 0, 0);
          border-color: #5c459b;
          width: 100%;
          outline: #5c459b;
        }

        .box-title {
          text-align: center;
          .button-title {
            font-size: 20px;
            font-weight: bold;
          }

          .alert {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #ff5148;
            font-weight: bold;
            height: 50px;
            box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease-in-out;
          }
        }

        .btn {
          height: 90px;
          width: 90px;
          border-radius: 50%;
        }

        #set {
          width: 100%;
          padding: 5px;
          border-radius: 30px;
          background-color: rgba(92, 69, 155, 0);
          color: #5c459b;
          border-color: #5c459b;
        }

        #set:hover {
          color: white;
          background-color: #5c459b;
        }

        #set:focus {
          color: white;
          background-color: #5c459b;
        }

        .timer-box {
          background-color: #a1e8ff;
          text-align: left;
          padding: 15px;
          color: #5c459b;

          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
          border-radius: 10px;

          .timer-header {
            text-align: center;
          }
          .timer-button {
            text-align: center;
          }
        }
      }
    }

    .board-box {
      margin: 10px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      background-color: #63c8e7;
      div {
        margin: 10px;

        .progress-box {
          max-width: 150px;
          min-width: 50px;
        }

        .title {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }

  .B_online {
    background-color: #1d9fc5;
  }
  .B_offline {
    background-color: #ff5148;
  }
}

@media screen and (max-device-width: 375px) {
  .box_board {
    .board {
      padding: 20px;
    }
  }
}
