.box_board {
  margin-top: 20px;
  display: flex;
  margin: 10px;
  .board {
    // color: white;
    display: flex;
    justify-content: center;
    background-color: white;

    box-shadow: 0px 0px 8px 5px rgba(5, 172, 227, 0.1);
    padding: 10px;
    .board-header {
    }

    .button-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .box {
        margin: 10px;
        box-shadow: 0px 0px 8px 5px rgba(92, 69, 155, 0.1);
        padding: 20px;
        min-width: 200px;
        flex: 1;

        .form-input{
          border-radius: 20px;
          padding: 6px 20px 6px 20px;
          background-color: rgba(0, 0, 0, 0);
          border-color: #05ace3;
          outline:#05ace3;
          width: 100%;
        }
        .form-input:hover{
          border-radius: 20px;
          padding: 6px 20px 6px 20px;
          background-color: rgba(0, 0, 0, 0);
          border-color: #5c459b;
          width: 100%;
        }
        .form-input:focus{
          border-radius: 20px;
          padding: 6px 20px 6px 20px;
          background-color: rgba(0, 0, 0, 0);
          border-color: #5c459b;
          width: 100%;
          outline: #5c459b;
        }
        .button-title {
          font-weight: bold;
        }

        .btn {
          height: 100px;
          width: 100px;
          border-radius: 50%;
        }
      }
    }

    .board-box {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      div {
        margin: 10px;

        .progress-box {
          max-width: 200px;
          min-width: 150px;
        }

        .title {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-device-width: 375px) {
  .box_board {
    .board {
      padding: 20px;
    }
  }
}
