.dashboard-status {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;

  .box {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 250px;
    // background-color: #63c8e7;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    .title {
      font-size: 20px;
    }

    .alert {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: #ff5148;
      font-weight: bold;
      height: 50px;
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out;
    }
  }

  .B_online {
    background-color: #1d9fc5;
  }
  .B_offline {
    background-color: #ff5148;
  }
}
