body  {
}

 .btn{
    
    border-radius: 20px;

}

.center{
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    margin: 50px;
    padding: 30px;
    width: 40%;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

